:root{
    --blanco: #ffffff;
    --negro: #212121;
    --uno: #ff6464;
    --dos: #2c4255;
    --gris: #a0a0a0;
    --grisclaro: #dfe9f3;

    --fuente-uno: 3.8rem;
}

/* 1rem = 10px */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    background-image: linear-gradient(
        to top, 
        var(--grisclaro) 0%, 
        var(--blanco) 100%);
}

h1{
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

.titulo {
    padding: 0rem;
    margin: 2rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    /* margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto; */
    margin: 0 auto 0 auto;
}

.nav-bg{
    background-color: var(--dos);
}

.navegacion-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 480px){
    .navegacion-principal{
        flex-direction: column;
        align-items: center;
    }
}

.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--uno);
    color: var(--blanco);
}


.bg-img{
    animation: matusalen 14s ease infinite;
/* 
    background-image: url(http://drive.google.com/uc?export=view&id=1yJx-tmyjlf-ZEB0Tv0FAsKczuoiBnVjK);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    padding: 0rem;
    position: relative;
    */
    margin-bottom: 2rem;
}

/**/
@keyframes matusalen {
    0%,100%{
        background-image: url(http://drive.google.com/uc?export=view&id=1FHNvDPbyifT-U3PkFADqSliIJ2nIjTAq);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50rem;
    }
    50%{
        background-image: url(http://drive.google.com/uc?export=view&id=1yJx-tmyjlf-ZEB0Tv0FAsKczuoiBnVjK);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50rem;
    }
}


.contenido-bg-img{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    /* top: 8rem; right: 40rem; bottom: 8rem; left: 40rem; */
    width: 100%;
    height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    margin-bottom: 1rem;
}

.contenido-bg-img p, .contenido-bg-img h2{
    color: var(--blanco )
}

.location {
    display: flex;
    align-items: flex-end;
}

.contact-buttom {
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--uno);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 480px){
    .contact-buttom{
        width: 80%;
        text-align: center;
    }
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(135,135,135,0.7);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: .5rem;
}

/* Servicios */
.services1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-columns: repeat(3, 1fr);*/
    column-gap: 2rem;
}

.services2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

@media (max-width: 480px){
    .services1{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .services2{
        display: flex;
        flex-direction: column;
       align-items: center;
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service h3 {
    color: var(--dos);
}
.service p {
    line-height: 1.5;
    text-align: center;
}
.service .icon1 {
    height: 15rem;
    width:  15rem;
    background-color: var(--uno);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon2 {
    height: 8rem;
    width: 8rem;
}



/* Footer */
.copyrights {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

/* .imagenes-presentacion{
    display: flex;
}

.imagenes-presentacion .a{
    width: 40%;
}

.imagenes-presentacion .b{
    width: 40%;
} 

.imge{
    max-width: 100%;
    max-height: 20%;
} */
