:root{
    --color-one: #3055a3;
    --color-two: #f9fd15;
    --color-three: #c4c4c4;
    --color-four: #ffffff;
    --color-five: #000000;

    --font-one: 'Open Sans', sans-serif;
    --font-two: 'Roboto', sans-serif;

}
*, *:before, *:after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-one);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-five);
    background-color: var(--color-three);
}